.adsterra-side-banner-container {
    width: 160px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: var(--transition);
    margin: 0 auto;
}

html[data-theme="dark"] .adsterra-side-banner-container {
    background-color: #1e1e1e;
}

.adsterra-side-banner-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Media Queries */
@media (max-width: 768px) {
    .adsterra-side-banner-container {
        width: 160px;
        height: 300px;
    }
}

@media (max-width: 480px) {
    .adsterra-side-banner-container {
        width: 160px;
        height: 300px;
    }
}